<%- css('css/post.css') %>
<%- css('css/markup.css') %>
<%- css({id: 'prism-theme', href: 'css/prism/prism-one-light'}) %>
<section>
  <div>
    <a href="/"><i class="fa fa-reply"></i></a>
    <span><%= page.title %></span>
  </div>
  <article><%- page.content %></div>
</section>