<%- css('css/post.css') %>
<%- css('css/markup.css') %>
<%- css({id: 'prism-theme', href: 'css/prism/prism-one-light'}) %>
<section>
  <a href="/"><i class="fa fa-home history-btn"></i></a>
  <article class="title">
    <%= page.title %>
  </article>
  <hr>
  <article class="content"><%- page.content %></div>
</section>