<header>
  <%- image_tag('img/logo.png') %>
  <h2><%= config.author %></h2>
  <p><%= config.description %></p>
  <ol>
    <% for (name in theme.menu) { %>
    <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
    <% } %>
  </ol>
</header>
